<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/static/static.css">
<head>
    <meta charset="UTF-8">
    <title>Macro Tracker Web App</title>
</head>
<body>
<h1>Macro Tracker</h1>
<div>
    <p>Choose a restaurant to pick ingredients from:</p>
    <br>
    <select name="restaurant" method="GET" action="/">
        {% for restaurant in restaurants %}
            <option value="{{restaurant}}" SELECTED>{{restaurants[0]}}</option>"
        {% endfor %}
    </select>

</div>
</table>
</body>
</html>
